$c1: #3574F0;
$c2: #FD3593;

:root {
  --icon-color: #000000;
  --bg-color: #ffffff;
}

// 样式初始化
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.van-theme-dark {
  --icon-color: #ffffff;
  --bg-color: #1C1C1E;
}

.van-theme-dark body {
  color: #f5f5f5;
  background-color: var(--bg-color);
}

.van-theme-dark body .mine {
  background-color: var(--bg-color);
}

html,
body,
#app {
  height: 100%;
}

// NProgress 自定义颜色
#nprogress .bar {
  background: #409EFF !important; //自定义颜色
}

a {
  color: #000000;
}
